.body{
	margin: 0px;
    width: 100%;    
	background: #ededeb;


}
.lilogin{
	float: right;
	margin-right: 10px;
}
.lilogin a{
	font-size: 16px;

}
.principal{
	width: 90%;
	padding: 2%;	
	margin: 0 auto;
	margin-top: 3%;

	background: #fff;

}
.formulario{
	width: 50%;	
	margin: 0 auto;
	margin-top: 20px;
}

.navbar{
	width: 100%;
	background:  #DCDCDC;
	margin: 0%;
	
}

.h1universidad{
	float: right;
	

	font: 18px century gothic;
	margin-right: 3%;
}
.navbar ul li{	
	font: 14px century gothic;
	display: inline-block;
	padding: 1%;
}
.navbar ul li a{
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	color: #000;
	
}
 .td-tabla{
 	border: 2px solid rgba(152, 152, 152,.2);
 }
 .table .encabezado-tabla{
 	background: #8d8c8c;  
 	color: #fff;
 }
 .table-color{
 	background: #fff;
 }
 .table .encabezado-tabla th{
 	border: 2px solid rgba(255, 255, 255,.1);
 }

.navbar ul li:hover{
	color: #fff;
	
	background:  #8d8c8c;

}
.navbar ul li a:hover{
	color: #fff;
	background:  #8d8c8c;

}
.form-2{
	padding-bottom: 0px;
	padding-top: 0px;
	display: block;

}
.titleform{

	margin-left: 5%;

	width: 100%;
	
	
	font: 22px century gothic;
}
.linetitle{
	
	height: 5px;
	background: #DCDCDC;
}
.btn-right{
	float:right;
}
.form-label {
	font: 16px century gothic;
	padding: 1rem;
	font: 15px century gothic;
	padding: 5%;
}
.form-text{
	width: 60%;
	font: 18px calibri;
	padding: 5px;
}
.form-select{
	width: 60%;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	background-color:#effdbd;
}
.div-btn-center{
	margin: 0 auto;
	width: 50%;
}
.btn-submit{
	background: #b9ca2b;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font: 17px century gothic;
	font-size: bold;
	margin-left: 40%;
}
.btn-submit:hover{
	background: #c4d15a;

}

.div-1-btn-center{
	margin: 0 auto;
	width: 50%;
}

.div-group-3-btn{
	
	width: 80%;
	display: inline-block;
	margin-left: 70%;
	
}
.btn-principal{
	text-decoration: none;
	background: #fdcd65;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font: 17px century gothic;
	font-size: bold;
	
}
.radiobuttons{
	display: inline-block;
	margin-left: 10%;
	width: 60%;
}
.rb{
	display: inline-block;
	margin-left: 10%;
}
.btn-principal:hover{
	background: #fad78c;

	text-decoration: none;
	color: #fff;
}
.tabla-vacia{
	position: absolute;
	margin-top: 4%;
	margin-left: 40%;


}

.btn-submit{
	background: #b9ca2b;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font: 17px century gothic;
	font-size: bold;
	margin-left: 40%;
}
